.Weather {
  background-color: #f6f6f6;
  border: 2px solid #8785a2;
  border-radius: 10px;
  padding: 15px;
  margin: 0px auto;
  max-width: 550px;
}

.Weather .overview {
  margin-bottom: 20px;
}

.searchCity {
  border: 2px solid #8785a2;
  border-radius: 10px;
  height: 41px;
  color: #8785a2;
  font-weight: 600;
  width: 170px;
}

.searchButton {
  text-align: center;
  border: 2px solid #8785a2;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #8785a2;
  background-color: #ffe2e2;
  transition: all 200ms ease-in-out;
}

.searchButton:hover {
  color: #f6f6f6;
  background-color: #8785a2;
  cursor: pointer;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .weather-forecast {
  margin-top: 10px;
}

.Weather .weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.Weather .weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.Weather .weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
